<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/index :: dynamic(~{::main})}">

<body>
	<main>
		<h1 class="h3 mb-2 text-gray-800">BẢNG SẢN PHẨM</h1>
		<p class="mb-4">Quản lý danh sách sản phẩm của Shop!</p>
		<div class="alert alert-success" th:text="${insertSuccess}" th:if="${insertSuccess != null}"></div>
		<div class="alert alert-success" th:text="${updateSuccess}" th:if="${updateSuccess != null}"></div>
		<div class="alert alert-danger" th:text="${updateFailed}" th:if="${updateFailed != null}"></div>
		<div class="alert alert-danger" th:text="${insertFailed}" th:if="${insertFailed != null}"></div>
		<div class="card shadow mb-4">
			<div class="card-header py-3 row">
				<a th:href="@{/admin/product/save}" class="btn btn-outline-primary btn-icon-split"
					sec:authorize="hasRole('Directors')">
					<span>
						<i class="fa-solid fa-plus"></i>
					</span>
					<span class="text">Thêm mới</span>
				</a>
				<a th:href="@{/admin/productdetail/list}" class="btn btn-outline-secondary btn-icon-split ml-auto">
					<span>
						<i class="fa-solid fa-memo-circle-info"></i>
					</span>
					<span class="text">Chi tiết tất cả sản phẩm</span>
				</a>
			</div>

			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Tên sản phẩm</th>
								<th>Hình</th>
								<th>Danh mục</th>
								<th>Giá</th>
								<th>Chất liệu</th>
								<th>Trạng thái</th>
								<th>View</th>
								<th sec:authorize="hasRole('Directors')">Create Detail</th>
								<th sec:authorize="hasRole('Directors')">Edit</th>
								<th sec:authorize="hasRole('Directors')">Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="listPR : ${listProduct}">
								<td th:text="${listPR.name}"></td>
								<td>
									<img th:src="@{|/assets/img/${listPR.image}|}" height="150px" width="150px">
								</td>
								<td th:text="${listPR.category}"></td>
								<td th:text="${#numbers.formatCurrency(listPR.price)}"></td>
								<td th:text="${listPR.material}"></td>
								<td th:text="${listPR.status}">
								</td>
								<td class="text-center">
									<a th:href="@{/api/productdetail/view/{id} (id = ${listPR.id})}"
										class="btn btn-outline-success" data-toggle="tooltip" data-placement="bottom"
										title="View">
										<i class="fa-solid fa-eye"></i>
									</a>
								</td>
								<td th:if="${listPR.status == 'Đang hoạt động'}" class="text-center"
									sec:authorize="hasRole('Directors')">
									<a th:href="@{/api/productdetailbyid/save/{id} (id = ${listPR.id})}"
										class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom"
										title="Create ProductDetail">
										<i class="fa-solid fa-plus"></i>
									</a>
								</td>
								<td th:if="${listPR.status == 'Không hoạt động'}" class="text-center"
									sec:authorize="hasRole('Directors')">
									<a class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom"
										title="Create ProductDetail" disabled>
										<i class="fa-solid fa-plus"></i>
									</a>
								</td>
								<td class="text-center" sec:authorize="hasRole('Directors')">
									<a th:href="@{/api/product/{id} (id = ${listPR.id})}"
										class="btn btn-outline-warning" data-toggle="tooltip" data-placement="bottom"
										title="Edit">
										<i class="fa-solid fa-pen-to-square"></i>
									</a>
								</td>
								<td th:if="${listPR.status == 'Đang hoạt động'}" class="text-center"
									sec:authorize="hasRole('Directors')">
									<a th:data-id="${listPR.id}" th:data-name="${listPR.name}"
										onclick="showConfirmModalDialog(this.getAttribute('data-id'), this.getAttribute('data-name'))"
										class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom"
										title="Delete">
										<i class="fa-solid fa-trash"></i>
									</a>
								</td>
								<td th:if="${listPR.status == 'Không hoạt động'}" class="text-center"
									sec:authorize="hasRole('Directors')">
									<a class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom"
										title="Delete" disabled>
										<i class="fa-solid fa-trash"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script>
			function showConfirmModalDialog(id, name) {
				$('#name').text(name);
				$('#yesOption').attr('href', '/api/product1/delete/' + id);
				$('#confirmationId').modal('show');
			}
		</script>
		<!-- Logout Modal-->
		<div class="modal fade" id="confirmationId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Thay đổi trạng thái sản phẩm</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Bạn có muốn thay đổi trạng thái sản phẩm <span id="name"></span>
						không ?</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
						<a id="yesOption" type="button" class="btn btn-danger">Yes</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>